
<h1><%= @currentUser.username %>'s Profile</h1><br>
<%= image_tag @currentUser.avatar.url(:medium) %><br>
<%= link_to 'back to the menu', users_path %><br>


<%= link_to ' Delete', @currentUser, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %>