<h1>Add a new picture</h1>

		<%= bootstrap_form_for @picture, :url => pictures_path, :html => { :multipart => true } do |f| %>


			<div class="field">
			<%= f.file_field :pic, help: "Must be under 1 MB" %>
			</div><br><br>
			<div class="field">
			<%= f.text_field :caption %>
			</div><br><br>
			<%= f.submit %>
		<% end %>


