.thumbnail {
	padding: 30px;

}
.thirdRow{
	position: relative;;
	margin: 50px;
	text-align: center;
}
.all{
	height: 700px;
	margin: 50px;
}
.formed {
	width: 60%;
	text-align: center;
}
.formedInner {
	text-align: center;
}


.titled {
	font-family: 'Playfair Display SC', serif;
	font-weight: 900;
}
.navTitle {
	font-family: 'Playfair Display SC', serif;
	font-weight: 400;
}

@import "bootstrap-sprockets";
@import "bootstrap";

