// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content {
	text-align: center;
}
// Put this in the framework and overrides in order to override bootstrap.
.gamePiece {
	width: 49%;
	max-height: 400px;
	float: left;	
}

.btnRow {
	margin: 0px auto;
	padding: 15px;
}

.score {
	color: white;
}
.thirdRow {
	
}